<div mstCursor fxLayout="row" fxLayoutAlign="start center" (click)="onOpen()">
  <ng-content select="[left]"></ng-content>
  <div [mstPadding]="'0 0 0 0.5rem'">
    <div *ngIf="defaultValue && !showValueFn">{{ defaultValue.title }}</div>
    <div *ngIf="defaultValue && showValueFn">{{ showValueFn(defaultValue) }}</div>
    <div *ngIf="defaultValue === undefined || defaultValue === null">select</div>
  </div>
  <ng-content select="[right]"></ng-content>
</div>

<mst-overlay *ngIf="showList">
  <mst-drop-zone [dragIndex]="draggingIndex" (drop)="onDrop($event)">
    <mst-drag-item *ngFor="let item of list; let i = index;"
      [item]="item"
      [index]="i"
      (start)="onDragStart($event)">
      <div
        [mstColor]="defaultValue && defaultValue.id === item.id ? 'accent' : null"
        mstCursor
        [mstFont]="'1.25rem'"
        (click)="onSelect(item)">
        <span *ngIf="!showValueFn">{{ item.title }}</span>
        <span *ngIf="showValueFn && pipe.type === PipeType.None">{{ showValueFn(item) }}</span>
        <span *ngIf="showValueFn && pipe.type === PipeType.Date">{{ showValueFn(item) | date:pipe.params }}</span>
      </div>
    </mst-drag-item>
  </mst-drop-zone>
</mst-overlay>