<span [class.mst-project-list-error]="hasError" (dblclick)="onGotoSubproject()" (click)="onOpen()">
  {{ activeSubproject ? activeSubproject.title : 'select' }}
</span>

<mst-overlay *ngIf="isShow">
  <div fxLayout="row" fxLayoutAlign="end">
    <mst-icon name="close" (click)="onClose()"></mst-icon>
  </div>
  <div *ngFor="let project of projects">
    <mst-project-item
      [project]="project"
      (click)="onSelectProject(project)">
    </mst-project-item>
    <div *ngIf="activeProject && activeProject.id === project.id"
      [mstPadding]="'0 0 0 1rem'">
      <mst-project-item
        *ngFor="let subproject of subprojects"
        [project]="subproject"
        (click)="onSelectSubproject(subproject)"></mst-project-item>
    </div>
  </div>
</mst-overlay>