<span [class.mst-project-list-error]="hasError" (click)="onOpen()">
  {{ innerSubproject ? innerSubproject.title : 'select' }}
</span>

<mst-overlay *ngIf="isShow">
  <ng-container *ngIf="isShow">
    <div fxLayout="row" fxLayoutAlign="end">
      <mst-icon name="close" (click)="onClose()"></mst-icon>
    </div>

    <div fxLayout="row" fxLayoutAlign="center">
      <mst-project-create [useActionButton]="false" (created)="onCreatedProject()"></mst-project-create>
    </div>

    <div *ngFor="let project of projects">
      <mst-project-item
        [project]="project"
        (click)="onSelectProject(project)">
      </mst-project-item>
      <div *ngIf="activeProject && activeProject.id === project.id"
        [mstPadding]="'0 0 0 1rem'">
        <mst-project-create-sub (created)="onCreatedSubproject()" [project]="project"></mst-project-create-sub>
        <mst-project-item
          *ngFor="let subproject of subprojects"
          [project]="subproject"
          (click)="onSelectSubproject(subproject)"></mst-project-item>
      </div>
    </div>

    <div [mstTextAlign]="'center'" *ngIf="somedayProjects && somedayProjects.length > 0">
      someday
    </div>
    <div *ngFor="let project of somedayProjects">
      <mst-project-item
        [project]="project"
        (click)="onSelectProject(project)">
      </mst-project-item>
      <div *ngIf="activeProject && activeProject.id === project.id"
        [mstPadding]="'0 0 0 1rem'">
        <mst-project-create-sub (created)="onCreatedSubproject()" [project]="project"></mst-project-create-sub>
        <mst-project-item
          *ngFor="let subproject of subprojects"
          [project]="subproject"
          (click)="onSelectSubproject(subproject)"></mst-project-item>
      </div>
    </div>
  </ng-container>
</mst-overlay>