<span [class.mst-project-list-error]="hasError" (dblclick)="onGotoSubproject()" (click)="onOpen()">
  {{ activeSubproject ? activeSubproject.title : 'select' }}
</span>

<mst-overlay *ngIf="isShow">
  <mst-project-item
    *ngFor="let project of projects"
    [project]="project"
    (click)="onSelectProject(project)">
    <div *ngIf="activeProject && activeProject.id === project.id">
      <mst-project-item
       *ngFor="let subproject of subprojects"
       [project]="subproject"
       (click)="onSelectSubproject(subproject)"></mst-project-item>
    </div>
  </mst-project-item>
</mst-overlay>