<monster-overlay *ngIf="isShow" (click)="hide()">
  <monster-wrapper
    display="block"
    padding="0 1.75rem 1rem"
    height="2rem">
    <monster-icon-add *ngIf="!isAdding"
      (click)="onCreate($event)"></monster-icon-add>
    <monster-input *ngIf="isAdding"
      [control]="control" [autoFocus]="true"
      padding="0.5rem 0.5rem 0"
      (enter)="onFinish()"></monster-input>
  </monster-wrapper>

  <monster-wrapper *ngFor="let p of projects"
    padding="0.5rem 2rem"
    [color]="current && current.id === p.id ? 'primary' : null"
    cursor="pointer"
    [styles]="{ 'font-size': '1.25rem' }"
    (click)="onSelect(p)">{{ p.title }}</monster-wrapper>
</monster-overlay>
