<mst-wrapper
  mainAxis="center" crossAxis="center"
  padding="0 0 1rem">
  <mst-icon-add (click)="onGotoCreate()"></mst-icon-add>
</mst-wrapper>

<div fxLayout="row" fxLayoutAlign="center" [mstPadding]="'1rem 0'">
  <mst-project-list [activeProject]="currentProject"></mst-project-list>
</div>

<mst-drop-zone [dragIndex]="dragIndex" (drop)="onDrop($event)">
  <mst-drag-item *ngFor="let todo of inProgress; let i = index;"
    [item]="todo"
    [index]="i"
    (start)="onDragStart($event)">
    <mst-todo-item
      [todo]="todo"
      [isLast]="i === inProgressLength - 1"
      (click)="onShowDetail(todo)"
      (finish)="onFinish($event)">
    </mst-todo-item>
  </mst-drag-item>
</mst-drop-zone>
