@import '../../static/variables';

.mst-todos-tab {
  user-select: none;
}
.mst-todos-tab--active {
  color: $accent;
  font-weight: 800;
}
.mst-todos-tab-action-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 4.5rem;
}
.mst-start-action {
  margin-top: 0.5rem;
  padding: 0 0.5rem;

  border: 1px solid $accent;
}