<div fxLayout="row" fxLayoutAlign="space-between">
  <div
    fxLayout="row" fxLayoutAlign="center center"
    [mstPadding]="'0 0.5rem'"
    [mstBorder]="isStartTodayEnabled() ? Color.Accent : null"
    [mstColor]="isStartTodayEnabled() ? null : 'grey'"
    (click)="onStartToday()">start today</div>
  <div fxLayout="row" fxLayoutAlign="center center" [mstPadding]="'0 1rem'">{{ activeTodos | expectedTime | minuteFormatter }}</div>
  <mst-icon name="search" [color]="showSearch ? 'accent' : null" (click)="onToggleSearch()"></mst-icon>
</div>
<div [mstPadding]="'1rem 0 0'" *ngIf="showSearch">
  <mst-search-todos [todos]="todos"></mst-search-todos>
</div>


<div fxLayout="row" fxLayoutAlign="space-between" [mstPadding]="'1rem 0'">
  <div class="mst-todos-tab" [class.mst-todos-tab--active]="activeTab === TODAY" (click)="onChangeTab(TODAY)">today</div>
  <div class="mst-todos-tab" [class.mst-todos-tab--active]="activeTab === TOMORROW" (click)="onChangeTab(TOMORROW)">tomorrow</div>
  <div class="mst-todos-tab" [class.mst-todos-tab--active]="activeTab === THISWEEK" (click)="onChangeTab(THISWEEK)">this week</div>
  <div class="mst-todos-tab" [class.mst-todos-tab--active]="activeTab === NEXTWEEK" (click)="onChangeTab(NEXTWEEK)">next week</div>
</div>

<ng-container *ngIf="activeTab === TODAY && habits && habits.length > 0">
  <div>Habits</div>
  <div [mstPadding]="'0.5rem 0 0.5rem 1rem'">
    <mst-habit-item *ngFor="let habit of habits"
      [habit]="habit"
      (click)="onShowHabitDetail(habit)">
    </mst-habit-item>
  </div>
</ng-container>

<ng-container *ngIf="activeProjectsWithTodos && activeProjectsWithTodos.length > 0">
  <div *ngFor="let pwts of activeProjectsWithTodos">
    <div [mstPadding]="'0.5rem 0 0'" *ngIf="pwts.todos.length > 0">
      {{pwts.project.title}} {{ pwts.todos | expectedTime | minuteFormatter }}
    </div>
    <div [mstPadding]="'0.5rem 0 0.5rem 1rem'" *ngIf="pwts.todos.length > 0">
      <mst-drop-zone [dragIndex]="dragIndex" (drop)="onDrop($event, pwts.project.id)">
        <mst-drag-item *ngFor="let todo of pwts.todos; let i = index;"
          [item]="todo"
          [index]="i"
          (start)="onDragStart($event, pwts.project.id)">
          <mst-todo-item
            [todo]="todo"
            (click)="onShowDetail(todo)">
          </mst-todo-item>
        </mst-drag-item>
      </mst-drop-zone>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="activeTab === TODAY && doneProjectsWithTodos && doneProjectsWithTodos.length > 0">
  <div [mstTextAlign]="'center'" [mstPadding]="'2rem 0 0'">Done</div>
  <div *ngFor="let pwts of doneProjectsWithTodos">
    <div [mstPadding]="'0.5rem 0 0'" *ngIf="pwts.todos.length > 0">
      {{pwts.project.title}}
    </div>
    <div [mstPadding]="'0.5rem 0 0.5rem 1rem'" *ngIf="pwts.todos.length > 0">
      <mst-todo-item *ngFor="let todo of pwts.todos"
        [todo]="todo"
        (click)="onShowDetail(todo)">
      </mst-todo-item>
    </div>
  </div>
</ng-container>

<mst-todo-create (created)="onCreated()" [useActionButton]="true"></mst-todo-create>
