<mst-go-back></mst-go-back>

<ng-container *ngIf="subproject">
  <mst-input [control]="titleControl"></mst-input>
  
  <div fxLayout="row" fxLayoutAlign="space-between center" [mstPadding]="'1rem 0'">
    <mst-project-status-picker [status]="subproject.status" (select)="onSelectStatus($event)"></mst-project-status-picker>
    {{ startDate | date:'shortDate' }}
    <mst-icon name="arrow_forward"></mst-icon>
    {{ endDate | date:'shortDate' }}
  </div>

  <mst-input
    [control]="resultControl"
    minHeight="3rem"></mst-input>
  
  <div fxLayout="row" fxLayoutAlign="center" [mstPadding]="'2rem 0'">
    <mst-todo-create [subproject]="subproject" [useActionButton]="false" (created)="onCreatedTodo()"></mst-todo-create>
  </div>
  
  <mst-todo-item *ngFor="let todo of todos"
    (click)="onGotoTodo(todo.id)"
    [todo]="todo"></mst-todo-item>
</ng-container>
