@import '../../../static/variables';

.mst-icon-default {
  color: $primary;
  cursor: pointer;
}
.mst-icon-gey {
  color: $grey;
}
.mst-icon-accent {
  color: $accent;
}
.mst-icon-white {
  color: $white;
}