@import '../../../static/variables';

.mst-icon-default {
  color: $default;
}
.mst-icon-gey {
  color: $grey;
}
.mst-icon-positive {
  color: $positive;
}
.mst-icon-accent {
  color: $accent;
}
.mst-icon-primary {
  color: $primary;
}
.mst-icon-white {
  color: $white;
}