<div (click)="onOpen()">{{ innerStatus | todoStatus }}</div>

<mst-overlay *ngIf="isShow">
  <div [mstColor]="innerStatus === TodoStatus.InProgress ? 'accent' : null" (click)="onSelect(TodoStatus.InProgress)">in progress</div>
  <div [mstColor]="innerStatus === TodoStatus.Waiting ? 'accent' : null" (click)="onSelect(TodoStatus.Waiting)">waiting</div>
  <div [mstColor]="innerStatus === TodoStatus.Someday ? 'accent' : null" (click)="onSelect(TodoStatus.Someday)">someday</div>
  <div [mstColor]="innerStatus === TodoStatus.Done ? 'accent' : null" (click)="onSelect(TodoStatus.Done)">done</div>

  <mst-cancel-confirm
  (confirm)="onConfirm()"
  (cancel)="onCancel()"></mst-cancel-confirm>
</mst-overlay>