<mst-input
  [control]="titleControl"
  [hasError]="hasError"
  [autoFocus]="true"></mst-input>

  <div fxLayout="row" fxLayoutAlign="space-between" [mstPadding]="'1rem 0'">
    <mst-project-list
      [activeProject]="currentProject"
      [showAll]="false"
      (selected)="onSelectProject($event)">
    </mst-project-list>
    <mst-datepicker *ngIf="currentProject && currentProject.id !== INBOX.id" (finish)="onFinishPickDate($event)"></mst-datepicker>
    <mst-duration-picker [duration]="expectedTime" (change)="onDurationChange($event)"></mst-duration-picker>
</div>

<mst-wrapper
  display="block"
  padding="0.5rem"
  [borderAll]="true">
  <mst-input
    [control]="noteControl"
    minHeight="3rem"></mst-input>
</mst-wrapper>

<mst-cancel-confirm
  (confirm)="onCreate()"
  (cancel)="onCancel()"></mst-cancel-confirm>
  