<monster-input
  [control]="titleControl"
  [hasError]="hasError"
  [autoFocus]="true"></monster-input>

<monster-wrapper
  cursor="pointer"
  (click)="onShowProjects()">{{ currentProject.title }}</monster-wrapper>
<monster-wrapper>
  <div [style.width]="'3rem'"><monster-input [control]="hoursControl"></monster-input></div>
  <span>Hours</span>
</monster-wrapper>
<monster-datepicker (finish)="onFinishPickDate($event)"></monster-datepicker>

<monster-wrapper
  display="block"
  padding="1rem"
  [borderAll]="true">
  <monster-input
    [control]="noteControl"
    minHeight="3rem"></monster-input>
</monster-wrapper>

<monster-cancel-confirm
  (confirm)="onCreate()"
  (cancel)="onCancel()"></monster-cancel-confirm>


<monster-project-list *ngIf="showProjects"
  [activeProject]="currentProject"
  [showAll]="false"
  (selected)="onSelectProject($event)"></monster-project-list>
