.mst-todo-detail-title-wrapper {
  position: relative;
  height: 4rem;
}
.mst-todo-detail-index {
  position: absolute;
  left: 0.5rem;
  top: 0.75rem;
}
.mst-start-todo {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
}