<ng-container *ngIf="todo && currentProject">
  <mst-input
    [control]="titleControl"
    [hasError]="hasError"></mst-input>

  <mst-project-list
    [activeProject]="currentProject"
    [showAll]="false"
    (selected)="onSelectProject($event)">
    <mst-icon name="folder_open" left></mst-icon>
  </mst-project-list>

  <mst-days-hours-picker [days]="todo.days" [hours]="todo.hours" (dayChange)="onDayChange($event)" (hourChange)="onHourChange($event)"></mst-days-hours-picker>
  <mst-datepicker [defaultDate]="happenOn" (finish)="onFinishPickDate($event)"></mst-datepicker>
  
  <mst-wrapper
    display="block"
    padding="1rem"
    [borderAll]="true">
    <mst-input
      [control]="noteControl"
      minHeight="3rem"></mst-input>
  </mst-wrapper>
  
  <mst-cancel-confirm
    (confirm)="onUpdate()"
    (cancel)="onCancel()"></mst-cancel-confirm>


  <!-- <mst-todo-timer [todo]="todo"></mst-todo-timer> -->
</ng-container>

<!-- <mst-icon name="timer"></mst-icon>
<mst-icon name="play_arrow"></mst-icon> -->
