<ng-container *ngIf="todo && currentProject">
  <mst-input
    [control]="titleControl"
    [hasError]="hasError"></mst-input>

  <mst-wrapper
    cursor="pointer"
    (click)="onShowProjects()">{{ currentProject.title }}</mst-wrapper>
  <mst-wrapper>
    <div [style.width]="'3rem'"><mst-input [control]="hoursControl"></mst-input></div>
    <span>Hours</span>
  </mst-wrapper>
  <mst-datepicker
    [defaultDate]="happenOn"
    (finish)="onFinishPickDate($event)"></mst-datepicker>
  
  <mst-wrapper
    display="block"
    padding="1rem"
    [borderAll]="true">
    <mst-input
      [control]="noteControl"
      minHeight="3rem"></mst-input>
  </mst-wrapper>
  
  <mst-cancel-confirm
    (confirm)="onUpdate()"
    (cancel)="onCancel()"></mst-cancel-confirm>


  <!-- <mst-todo-timer [todo]="todo"></mst-todo-timer> -->
</ng-container>
  
<mst-project-list *ngIf="showProjects"
  [activeProject]="currentProject"
  [showAll]="false"
  (selected)="onSelectProject($event)"></mst-project-list>


<mst-icon name="timer"></mst-icon>
<mst-icon name="play_arrow"></mst-icon>
