<ng-container *ngIf="todo">
  <div fxLayout="row" fxLayoutAlign="space-between" [mstPadding]="'0 1rem 0 0'">
    <mst-go-back></mst-go-back>
    <div>{{ todo.happenDate | daysDiff }}</div>
  </div>

  <div class="mst-todo-detail-title-wrapper">
    <span class="mst-todo-detail-index" [style.width.rem]="todo.id < 100 ? 2 : 2.5">{{ todo.id }}: </span>
    <mst-input
      [control]="titleControl"
      [padding]="todo.id < 100 ? '0.5rem 2rem 0.5rem 2rem' : '0.5rem 2rem 0.5rem 2.5rem'"></mst-input>
    <div class="mst-start-todo" *ngIf="todo.expectedTime && !finished">
      <mst-icon name="play_circle_filled" (click)="onStart()" *ngIf="!isDoing"></mst-icon>
      <mst-icon name="pause_circle_filled" (click)="onStop()" *ngIf="isDoing"></mst-icon>
    </div>
    <div class="mst-stay-focus" *ngIf="isDoing" [mstTextAlign]="'right'" [mstColor]="'accent'">stay focus, wear headphone :)</div>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-between" [mstPadding]="'0 0 1rem'">
    <mst-project-list
      [disabled]="finished"
      [activeSubproject]="currentSubproject"
      (selected)="onSelectSubproject($event)">
    </mst-project-list>
    <mst-todo-status-picker [status]="status" [showSomeday]="showSomedayStatus" (select)="onSelectStatus($event)"></mst-todo-status-picker>
    <mst-datepicker [mode]="TimeRangeType.Day" [startDate]="datePickerStartDate" [endDate]="datePickerEndDate" [disabled]="disableDatePicker()" [defaultDate]="defaultDatepickerDate" (finish)="onFinishPickDate($event)"></mst-datepicker>
    <mst-duration-picker [defaultValue]="todo.expectedTime" [disabled]="finished" (change)="onDurationChange($event)"></mst-duration-picker>
  </div>

  <div [mstPadding]="'0 1.5rem'">
    <mst-todo-timer *ngIf="todo.expectedTime" [expectedTime]="todo.expectedTime" [usedTime]="todo.usedTime"></mst-todo-timer>
  </div>

  <mst-input
    [control]="noteControl"
    minHeight="3rem"></mst-input>

  <div [mstPadding]="'3rem 0'">
    current thought:
    <mst-input
      [control]="currentThoughtControl"
      minHeight="3rem"></mst-input>
    <mst-icon name="done" (click)="onAddCurrentThought()"></mst-icon>
  </div>

  activities:
  <div [mstPadding]="'1rem'">
    <mst-activity-item *ngFor="let activity of activities; let i = index"
    [activity]="activity" [nextActivity]="activities[i+1]" [data]="todo" [reverse]="true"></mst-activity-item>
  </div>

  <mst-page-top-bottom-button [class.mst-hide-top-bottom]="hideUpDownArrow"></mst-page-top-bottom-button>
</ng-container>
