.mst-todo-detail-title-wrapper {
  position: relative;
  padding-bottom: 1.5rem;
}
.mst-todo-detail-index {
  position: absolute;
  left: 0.5rem;
  top: 0.75rem;
}
.mst-start-todo {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
}
.mst-stay-focus {
  position: absolute;
  bottom: 0.5rem;
  right: 0;
}

