<mst-go-back></mst-go-back>

<div class="mst-motivation-current">
  <div class="mst-motivation-current-wrapper" *ngIf="currentMotivation">
    <div><mst-paragraphs [text]="currentMotivation.motivation"></mst-paragraphs></div>
    <div><mst-icon name="edit" [size]="'s'" (click)="showAdd()"></mst-icon></div>
  </div>
  <div *ngIf="!currentMotivation" (click)="showAdd()">
    add motivations
  </div>
</div>

<div *ngIf="isShowAdd">
  <mst-input
  [control]="motivationControl"
  [minHeight]="'3rem'"></mst-input>
  <div [mstTextAlign]="'right'" [mstPadding]="'1rem 0 0'">
    <mst-icon name="done" (click)="createMotivation()"></mst-icon>
  </div>
</div>

<div [mstPadding]="'2rem 0 0'">
  <div *ngFor="let motivation of motivations" [mstPadding]="'0 0 1rem'">
    <div>{{ motivation.createdAt | mstDate:'shortDate' }}</div>
    <div>{{ motivation.motivation }}</div>
  </div>
</div>