@import '../../static/variables';

.mst-want-current {
  padding: 0.5rem;
  margin-bottom: 1rem;

  border: 1px solid $yellow;
}
.mst-motivation-current {
  padding: 0.5rem;
  margin: 1rem 0;

  border: 1px solid $accent;
}
.mst-motivation-current-wrapper {
  display: flex;
  justify-content: space-between;
}