@import '../../../static/variables';

.mst-app-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;

  height: 3rem;
  background-color: $primary;
}
.mst-app-header-content {
  width: 100%;
  height: 3rem;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mst-brand {
  color: $white;
}
.mst-header-motivation {
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: $yellow;
  color: $white;
  font-weight: bold;
}

.mst-app-header-placeholder {
  height: 4.5rem;
}

@media screen and (min-width: $break-point) {
  .mst-app-header-content {
    width: $content-width;
    height: 3rem;
    margin: 0 auto;
  }
}