@import '../../../static/variables';

.mst-app-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  height: 3rem;
  background-color: $primary;
}
.mst-app-header-content {
  width: 100%;
  height: 3rem;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mst-brand {
  color: $white;
}

.mst-app-header-placeholder {
  height: 3rem;
}

@media screen and (min-width: $max-width) {
  .mst-app-header-content {
    width: $max-width;
    height: 3rem;
    margin: 0 auto;
  }
}