<div class="mst-app-header">
  <div class="mst-app-header-content">
    <div class="mst-brand">Monster</div>
    <div class="mst-brand" *ngIf="isTodos && titleData">{{ titleData | expectedTime | secondFormatter }}</div>
    <div>
      <mst-icon name="search" *ngIf="showSearch()" [color]="isSearching ? 'accent' : 'white'" (click)="onToggleSearch()"></mst-icon>
      <mst-thought-create></mst-thought-create>
      <mst-todo-create [plusColor]="'white'"></mst-todo-create>
    </div>
  </div>
  <div class="mst-header-motivation" (click)="goToMotivation()">{{motivation || 'what do i want now?'}}</div>
</div>
<div class="mst-app-header-placeholder"></div>