<mst-input
  [control]="titleControl"
  [hasError]="hasError"
  [autoFocus]="true"></mst-input>

<div fxLayout="row" fxLayoutAlign="center center" [mstPadding]="'1rem 3rem'">
  <mst-datepicker [defaultDate]="startDate" (finish)="onPickStartDate($event)"></mst-datepicker>
  <div [mstSize]="'50%'" [mstTextAlign]="'center'">
    <mst-icon name="arrow_forward"></mst-icon>
  </div>
  <mst-datepicker [defaultDate]="endDate" [startDate]="endDateStartDate" (finish)="onPickEndDate($event)"></mst-datepicker>
</div>

<mst-input
  [control]="resultControl"
  minHeight="3rem"></mst-input>