<div fxLayout="row" fxLayoutAlign="space-between">
  <mst-go-back></mst-go-back>
  <ng-container *ngIf="!isDone()">
    <div *ngIf="habit && !habit.doneForToday" (click)="onDone()">
      <span *ngIf="needToDo">done?</span>
      <span *ngIf="!needToDo">still did?</span>
    </div>
    <div *ngIf="habit && habit.doneForToday" (click)="onDone()">done for today</div>
  </ng-container>
</div>

<ng-container *ngIf="habit">
  <mst-input [control]="titleControl"></mst-input>
  
  <div [mstPadding]="'2rem 1rem 1rem'">
    <mst-week-day-picker [weekDays]="weekDays" [editable]="false"></mst-week-day-picker>
  </div>
  
  <div fxLayout="row" fxLayoutAlign="space-between center" [mstPadding]="'1rem'">
    <div>{{ startDate | mstDate:'shortDate' }}</div>
    <mst-icon name="arrow_forward"></mst-icon>
    <mst-datepicker [mode]="TimeRangeType.Day" [defaultDate]="endDate" [startDate]="endDateStartDate" (finish)="onPickEndDate($event)"></mst-datepicker>
  </div>
  
  <mst-input
    [control]="resultControl"
    minHeight="3rem"></mst-input>

  <div [mstPadding]="'2rem 1rem 1rem'" *ngFor="let p of progress">
    <mst-week-day-picker [weekDays]="p" [editable]="false"></mst-week-day-picker>
  </div>
</ng-container>
