.mst-project-detail-datepicker {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 4.5rem;
}
.mst-date-changed-time {
  margin-top: 0.5rem;
  padding: 0 0.5rem;
}