$max-width: 568px;

$primary: #09c;
$primary-dark: #2c6c98;
$white: white;
$default: #333;
$positive: #88be71;
$accent: #EF9200;
$accent-dark: #df8500;
$grey-lightest: #f8f8f8;
$grey: #c7c7c7;
$grey-light: #f2f2f2;
$error: red;
$black: #000;
