@import '../../../static/variables';

.mst-todo-item::first-letter {
  font-weight: 800;
  font-size: 1.25rem;
}
.mst-todo-item {
  line-height: 2rem;
}
.mst-todo-item-has-note::first-letter {
  color: $accent;
  font-weight: 800;
}
.mst-todo-item-finished {
  text-decoration: line-through;
}