<div class="mst-wrapper"
  [class.mst-wrapper--flex]="display === 'flex'"
  [class.mst-wrapper--block]="display === 'block'"  
  [class.mst-wrapper--inline]="display === 'inline'"

  [class.mst-wrapper--row]="direction === 'row'"
  [class.mst-wrapper--column]="direction === 'column'"

  [class.mst-wrapper--main-start]="mainAxis === 'start'"
  [class.mst-wrapper--main-center]="mainAxis === 'center'"
  [class.mst-wrapper--main-end]="mainAxis === 'end'"
  [class.mst-wrapper--main-between]="mainAxis === 'between'"
  [class.mst-wrapper--main-around]="mainAxis === 'around'"

  [class.mst-wrapper--cross-start]="crossAxis === 'start'"
  [class.mst-wrapper--cross-center]="crossAxis === 'center'"
  [class.mst-wrapper--cross-end]="crossAxis === 'end'"
  [class.mst-wrapper--cross-between]="crossAxis === 'between'"
  [class.mst-wrapper--cross-around]="crossAxis === 'around'"
  [class.mst-wrapper--cross-stretch]="crossAxis === 'stretch'"

  [class.mst-wrapper--grey]="theme === 'grey'"
  [class.mst-wrapper--accent]="theme === 'accent'"
  [class.mst-wrapper--primary]="theme === 'primary'"

  [class.mst-wrapper-text--grey]="color === 'grey'"
  [class.mst-wrapper-text--accent]="color === 'accent'"
  [class.mst-wrapper-text--white]="color === 'white'"

  [class.mst-wrapper--border-top]="borderTop"
  [class.mst-wrapper--border-bottom]="borderBottom"
  [class.mst-wrapper--border-left]="borderLeft"
  [class.mst-wrapper--border-right]="borderRight"
  [class.mst-wrapper--border-x]="borderX"
  [class.mst-wrapper--border-y]="borderY"
  [class.mst-wrapper--border-all]="borderAll"

  [class.mst-wrapper-border--grey]="borderColor === 'grey'"
  [class.mst-wrapper-border--accent]="borderColor === 'accent'"
  [class.mst-wrapper-border--error]="borderColor === 'error'"
  [class.mst-wrapper-border--primary]="borderColor === 'primary'"

  [class.mst-wrapper--circle]="isCircle"

  [style.width]="width"
  [style.height]="height"
  [style.padding]="padding"
  [style.margin]="margin"
  [style.cursor]="cursor"
  [ngStyle]="styles">
    <ng-content></ng-content>
</div>