<mst-wrapper
  mainAxis="center" crossAxis="center"
  padding="0 0 1rem">
  <mst-icon-add (click)="onGotoCreate()"></mst-icon-add>
</mst-wrapper>

<mst-wrapper *ngIf="currentCategory"
  mainAxis="center" crossAxis="center"
  padding="1rem 0"
  cursor="pointer"
  (click)="onShowCategories()">{{ currentCategory.title }}</mst-wrapper>

<mst-list-item *ngFor="let tag of tags; let i = index;"
  [showBorderBottom]="i === tagsLength - 1">
  <mst-wrapper theme="primary" color="white" padding="0.25rem" content>
     {{ getCategory(tag.categoryId).title }}
  </mst-wrapper>
 
   <span right>
     {{ tag.createdAt | date:'short' }}
   </span>
 </mst-list-item>


 <mst-tag-list *ngIf="showCategories"
  [active]="currentCategory"
  (selected)="onChangeCategory($event)"></mst-tag-list>