<mst-go-back></mst-go-back>

<div *ngIf="quota">
  <div mstColor [mstColor.bg]="'green'" *ngIf="allowedPersist">your data will be persisted.</div>
  <div [mstPadding]="'0 0 2rem'" *ngIf="!isPersisted">
    <span [mstBorder]="'accent'" [mstPadding]="'0.5rem'" (click)="onPersist()">persist data</span>
  </div>

  <div>
    estimated storage usage: {{ getRatio() | percent }}
  </div>
  <div [mstPadding]="'0 0 0 1rem'">used: {{ usage | byteFormatter }}</div>
  <div [mstPadding]="'0 0 0 1rem'">available: {{ quota | byteFormatter }}</div>
</div>
