<div fxLayout="row" fxLayoutAlign="start center" mstNoSelect (click)="onShowSlider()">
  <span *ngIf="showHours">{{ hours | mstAdd0 }}:</span>{{ minutes | mstAdd0 }}:00
</div>

<mst-overlay *ngIf="showSlider">
  <div mstPadding="0 1.5rem" *ngIf="showSlider">
    <div fxLayout="row" mstPadding="0 0 2rem 0">
      <div mstSize="6rem" [mstColor]="isHoursActive ? 'accent' : null" (click)="onClickHours()" *ngIf="showHours">
        hours: {{ hours }}
      </div>
      <div mstSize="6rem" [mstColor]="!isHoursActive ? 'accent' : null" (click)="onClickMinutes()">
        minutes: {{ minutes }}
      </div>
    </div>
    <mst-slider [min]="min" [max]="max" [defaultValue]="activeValue" (valueChange)="onValueChange($event)"></mst-slider>
  
    <mst-cancel-confirm (cancel)="onCancel()" (confirm)="onConfirm()"></mst-cancel-confirm>
  </div>
</mst-overlay>