<mst-overlay>
  <mst-wrapper
    display="block"
    padding="0 1.75rem 1rem"
    height="2rem">
    <mst-icon-add *ngIf="!isAdding"
      (click)="onShowInput()"></mst-icon-add>
    <mst-input *ngIf="isAdding"
      [control]="control" [autoFocus]="true"
      padding="0.5rem 0.5rem 0"
      (enter)="onCreate()"></mst-input>
  </mst-wrapper>

  <div dndDropzone
    dndEffectAllowed="move"
    (dndDrop)="onDrop($event)">
    <div dndPlaceholderRef></div>

    <div *ngFor="let c of categories; let i = index;"
      [dndDraggable]="c"
      [dndDragImageOffsetFunction]="dragImageOffsetFunction"
      dndEffectAllowed="move"
      (dndStart)="onDragStart(i)">
      <mst-wrapper
        padding="0.5rem 2rem"
        [color]="active && active.id === c.id ? 'accent' : null"
        cursor="pointer"
        [styles]="{ 'font-size': '1.25rem' }"
        (click)="onSelect(c)">
        <span>{{ c.title }}</span>
        <mst-icon name="drag_handle" dndHandle></mst-icon>
      </mst-wrapper>
    </div>
  </div>

</mst-overlay>
