@import '../../static/variables';

.mst-plans {
  padding: 2.5rem 0;  
}
.mst-plans-link {
  display: block;
  text-decoration: none;
  padding-bottom: 2rem;
}

@media screen and (max-width: $max-width) {
  .mst-plans {
    padding: 0;
  }
}