In Progress
<monster-input
  minHeight="3rem"
  [control]="inProgressControl"></monster-input>
<monster-icon-done [isFilled]="false" (click)="onMerge('in-progress')"></monster-icon-done>


Done Recently
<monster-input
  minHeight="3rem"
  [control]="doneRecentlyControl"></monster-input>
<monster-icon-done [isFilled]="false" (click)="onMerge('done-recently')"></monster-icon-done>


Projects
<monster-input
  minHeight="3rem"
  [control]="projectsControl"></monster-input>
<monster-icon-done [isFilled]="false" (click)="onMerge('projects')"></monster-icon-done>
