<mst-go-back></mst-go-back>

<mst-drop-zone [dragIndex]="dragIndex" (drop)="onDrop($event)">
  <mst-drag-item *ngFor="let habit of activeHabits; let i = index;"
    [item]="habit"
    [index]="i"
    (start)="onDragStart($event)">
    <div class="mst-habit-item" (click)="onShowDetail(habit)">
      {{ habit.title }}
    </div>
  </mst-drag-item>
</mst-drop-zone>


<ng-container *ngIf="somedayHabits && somedayHabits.length > 0">
  <div [mstTextAlign]="'center'" [mstPadding]="'2rem 0 0'">Someday</div>
  <div class="mst-habit-item" *ngFor="let habit of somedayHabits" (click)="onShowDetail(habit)">
    {{ habit.title }}
  </div>
</ng-container>


<ng-container *ngIf="doneHabits && doneHabits.length > 0">
  <div [mstTextAlign]="'center'" [mstPadding]="'2rem 0 0'">Done</div>
  <div class="mst-habit-item" *ngFor="let habit of doneHabits" (click)="onShowDetail(habit)">
    {{ habit.title }}
  </div>
</ng-container>

<mst-habit-create (created)="onCreated()"></mst-habit-create>
