<mst-action-button [showPlus]="true" (clicked)="onOpen()"></mst-action-button>

<mst-overlay *ngIf="isShow">
  <ng-container *ngIf="isShow">
    <mst-input
      [control]="titleControl"
      [autoFocus]="true"></mst-input>
    
    <div fxLayout="row" fxLayoutAlign="space-around center" [mstPadding]="'1rem 0 0'">
      <div fxLayout="row" fxLayoutAlign="start center">
        chapters: <mst-input [control]="chaptersControl" [width]="'2rem'"></mst-input>
      </div>
      <div fxLayout="row" fxLayoutAlign="start center">
        per day: <mst-input [control]="chaptersPerDayControl" [width]="'2rem'"></mst-input>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-around center" [mstPadding]="'1rem 0'">
      <mst-datepicker [mode]="TimeRangeType.Day" [defaultDate]="startDate" (finish)="onPickStartDate($event)"></mst-datepicker>
      <mst-icon name="arrow_forward"></mst-icon>
      <div>{{ endDate | mstDate:'shortDate' }}</div>
    </div>
    
    <mst-input
      [control]="noteControl"
      minHeight="3rem"></mst-input>
  
    <mst-cancel-confirm
      (confirm)="onFinish()"
      (cancel)="onCancel()"></mst-cancel-confirm>
  </ng-container>
</mst-overlay>
