<mst-wrapper [height]="'2rem'" [crossAxis]="'center'">
  <mst-icon name="date_range"
    (click)="onOpenDatepicker()"></mst-icon>
  <span>{{ date | date:'shortDate' }}</span>
</mst-wrapper>

<mst-overlay *ngIf="isShowDatepicker">
  <div class="mst-datepicker-wrapper">
    <mst-datepicker-title [date]="date" (openYear)="onOpenYear()"></mst-datepicker-title>

    <mst-datepicker-month *ngIf="!isShowYear"
      [activeDate]="date"
      (selectDate)="onSelectDate($event)"></mst-datepicker-month>

    <mst-datepicker-year-list *ngIf="isShowYear"
      [activeDate]="date"
      (selectYear)="onSelectYear($event)"></mst-datepicker-year-list>

    <mst-cancel-confirm
      (confirm)="onFinish()"
      (cancel)="onCancel()"></mst-cancel-confirm>
  </div>
</mst-overlay>
