<monster-list-item *ngIf="todo"
 [showBorderBottom]="isLast">
  <span left>
    <monster-icon-done *ngIf="todo.status === TodoStatus.InProgress"
      cursor="pointer"
      (click)="onFinish(todo.id, $event)"></monster-icon-done>
    <monster-icon-close *ngIf="todo.status === TodoStatus.Done"
      cursor="pointer"
      (click)="onDelete(todo.id, $event)"></monster-icon-close>
  </span>
  <span content 
    [ngStyle]="{
      'text-align': 'left',
      'color': todo.status === TodoStatus.Done ? 'grey' : null,
      'text-decoration': todo.status === TodoStatus.Done ? 'line-through' : 'none'
    }">{{ todo.title }}</span>
  <ng-content right></ng-content>

</monster-list-item>