<monster-list-item *ngIf="todo"
 [showBorderBottom]="isLast">

  <span content 
    [ngStyle]="{
      'color': todo.status === TodoStatus.Done ? 'grey' : null,
      'text-decoration': todo.status === TodoStatus.Done ? 'line-through' : 'none'
    }">{{ todo.title }}</span>

  <span right>
    <monster-icon-done *ngIf="todo.status === TodoStatus.InProgress"
      cursor="pointer"
      (click)="onFinish(todo.id, $event)"></monster-icon-done>
    <monster-icon-close *ngIf="todo.status === TodoStatus.Done"
      cursor="pointer"
      (click)="onDelete(todo.id, $event)"></monster-icon-close>
  </span>

</monster-list-item>