<div class="mst-navigation" [class.mst-navigation--hide]="hideNavigation">
  <mst-link [route]="routes.PLANS">plan</mst-link>

  <mst-icon class="mst-navigation-icon-right" name="arrow_forward" size="s"></mst-icon>
  <mst-icon class="mst-navigation-icon-down" name="arrow_downward" size="s"></mst-icon>

  <mst-link [route]="routes.TODOS">doing</mst-link>

  <mst-icon class="mst-navigation-icon-right" name="arrow_forward" size="s"></mst-icon>
  <mst-icon class="mst-navigation-icon-down" name="arrow_downward" size="s"></mst-icon>

  <mst-link [route]="routes.REPORTS">review</mst-link>
  <mst-link [route]="routes.SETTINGS">me</mst-link>
</div>