@import '../../../static/variables';

.mst-navigation {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;

  display: flex;
  justify-content: space-between;
  padding: 1rem;
  line-height: 1rem;

  background-color: $white;
  border-top: 1px solid $grey;
}
@media screen and (min-width: $max-width + 1) {
  .mst-navigation {
    width: 7rem;
    left: calc(50% - 284px - 9rem);
    bottom: auto;
    top: 0;

    flex-direction: column;
    align-items: flex-end;
    padding: 3.5rem 0 0;

    border: 0;
  }
  mst-link {
    height: 3rem;
  }
}