<monster-wrapper
  mainAxis="center" crossAxis="center"
  padding="0 0 1rem">
  <monster-icon-add (click)="onGotoCreate()"></monster-icon-add>
</monster-wrapper>

<monster-wrapper *ngIf="currentProject"
  mainAxis="center" crossAxis="center"
  padding="1rem 0"
  cursor="pointer"
  (click)="onShowProjects()">{{ currentProject.title }}</monster-wrapper>
<monster-todo-item *ngFor="let todo of inProgress; let i = index;"
  [todo]="todo"
  [isLast]="i === inProgressLength - 1"
  (click)="onShowDetail(todo)"
  (finish)="onFinish($event)"></monster-todo-item>

<monster-wrapper *ngIf="doneRecently && doneRecently.length > 0"
  mainAxis="center" crossAxis="center"
  padding="1rem 0">Done</monster-wrapper>
<monster-todo-item *ngFor="let todo of doneRecently; let i = index;"
  [todo]="todo"
  [isLast]="i === doneRecentlyLength - 1"
  (click)="onUndo(todo.id)"
  (delete)="onDelete($event)"></monster-todo-item>


<monster-projects *ngIf="showProjects"
  [activeProject]="currentProject"
  (selected)="onChangeProject($event)"></monster-projects>
  