<monster-wrapper
  mainAxis="center" crossAxis="center"
  padding="0 0 1rem"
  (click)="onShowCreate()">
  <monster-icon-add></monster-icon-add>
</monster-wrapper>

<monster-wrapper *ngIf="currentProject"
  mainAxis="center" crossAxis="center"
  padding="1rem 0"
  color="primary"
  cursor="pointer"
  (click)="onShowProjects()">{{ currentProject.title }}</monster-wrapper>
<monster-todo-item *ngFor="let todo of inProgress; let i = index;"
  [todo]="todo"
  [isLast]="i === inProgressLength - 1"
  (click)="onShowDetail(todo)"
  (finish)="onFinish($event)"></monster-todo-item>

<monster-wrapper *ngIf="doneRecently && doneRecently.length > 0"
  mainAxis="center" crossAxis="center"
  padding="1rem 0">Done</monster-wrapper>
<monster-todo-item *ngFor="let todo of doneRecently; let i = index;"
  [todo]="todo"
  [isLast]="i === doneRecentlyLength - 1"
  (click)="onUndo(todo.id)"
  (delete)="onDelete($event)"></monster-todo-item>



<monster-todo-create
  [currentTodo]="currentTodo"
  [currentProject]="currentProject"
  (newTodo)="onNewTodo($event)"
  (close)="onCloseCreate()"></monster-todo-create>
<monster-projects
  [current]="currentProject"
  (selected)="onChangeProject($event)"></monster-projects>
