In Progress
<mst-input
  minHeight="3rem"
  [hasError]="inProgressHasError"
  [control]="inProgressControl"></mst-input>
<mst-icon-done [isFilled]="false" (click)="onMergeInProgress()"></mst-icon-done>


Done Recently
<mst-input
  minHeight="3rem"
  [hasError]="doneRecentlyHasError"
  [control]="doneRecentlyControl"></mst-input>
<mst-icon-done [isFilled]="false" (click)="onMergeDoneRecently()"></mst-icon-done>


Projects
<mst-input 
  minHeight="3rem"
  [hasError]="projectsHasError"
  [control]="projectsControl"></mst-input>
<mst-icon-done [isFilled]="false" (click)="onMergeProjects()"></mst-icon-done>
