<div class="mst-week-day-wrapper">
  <div class="mst-week-day-item" [class.mst-week-day-item--active]="monday" (click)="onMonday()"></div>
  <div class="mst-week-day-item" [class.mst-week-day-item--active]="tuesday" (click)="onTuesday()"></div>
  <div class="mst-week-day-item" [class.mst-week-day-item--active]="wednesday" (click)="onWednesday()"></div>
  <div class="mst-week-day-item" [class.mst-week-day-item--active]="thursday" (click)="onThursday()"></div>
  <div class="mst-week-day-item" [class.mst-week-day-item--active]="friday" (click)="onFriday()"></div>
  <div class="mst-week-day-item" [class.mst-week-day-item--active]="saturday" (click)="onSaturday()"></div>
  <div class="mst-week-day-item" [class.mst-week-day-item--active]="sunday" (click)="onSunday()"></div>
</div>