Todos
<div fxLayout="row">
  <div [mstPadding]="'1rem'">
    <mst-copy-text [text]="todosText" (success)="onCopyTodos($event)"></mst-copy-text>
  </div>
</div>

Projects
<div fxLayout="row">
  <div [mstPadding]="'1rem'">
    <mst-copy-text [text]="projectsText" (success)="onCopyProjects($event)"></mst-copy-text>
  </div>
</div>

Subprojects
<div fxLayout="row">
  <div [mstPadding]="'1rem'">
    <mst-copy-text [text]="subprojectsText" (success)="onCopySubprojects($event)"></mst-copy-text>
  </div>
</div>

<button (click)="onProcess()">add used time to todos</button>
