@import '../../../static/variables';

.mst-wrapper {
  color: $default;
}
.mst-wrapper--flex.mst-wrapper {
  display: flex;
}
.mst-wrapper--block.mst-wrapper {
  display: block;
}
.mst-wrapper--inline.mst-wrapper {
  display: inline-flex;
}

.mst-wrapper--row.mst-wrapper {
  flex-direction: row;
}
.mst-wrapper--column.mst-wrapper {
  flex-direction: column;
}

.mst-wrapper--main-start.mst-wrapper {
  justify-content: flex-start;
}
.mst-wrapper--main-center.mst-wrapper {
  justify-content: center;
}
.mst-wrapper--main-end.mst-wrapper {
  justify-content: flex-end;
}
.mst-wrapper--main-between.mst-wrapper {
  justify-content: space-between;
}
.mst-wrapper--main-around.mst-wrapper {
  justify-content: space-around;
}

.mst-wrapper--cross-start.mst-wrapper {
  align-items: flex-start;
}
.mst-wrapper--cross-center.mst-wrapper {
  align-items: center;
}
.mst-wrapper--cross-end.mst-wrapper {
  align-items: flex-end;
}
.mst-wrapper--cross-between.mst-wrapper {
  align-items: space-between;
}
.mst-wrapper--cross-around.mst-wrapper {
  align-items: space-around;
}
.mst-wrapper--cross-stretch.mst-wrapper {
  align-items: stretch;
}

.mst-wrapper--circle.mst-wrapper {
  border-radius: 50%;
}

.mst-wrapper--grey.mst-wrapper {
  background-color: $grey;
}
.mst-wrapper--positive.mst-wrapper {
  background-color: $positive;
}
.mst-wrapper--accent.mst-wrapper {
  background-color: $accent;
}
.mst-wrapper--primary.mst-wrapper {
  background-color: $primary;
}

.mst-wrapper-text--grey.mst-wrapper {
  color: $grey;
}
.mst-wrapper-text--positive.mst-wrapper {
  color: $positive;
}
.mst-wrapper-text--accent.mst-wrapper {
  color: $accent;
}
.mst-wrapper-text--primary.mst-wrapper {
  color: $primary;
}
.mst-wrapper-text--white.mst-wrapper {
  color: $white;
}


.mst-wrapper--border-top.mst-wrapper {
  border-top: 1px solid $grey-light;
}
.mst-wrapper--border-bottom.mst-wrapper {
  border-bottom: 1px solid $grey-light;
}
.mst-wrapper--border-left.mst-wrapper {
  border-left: 1px solid $grey-light;
}
.mst-wrapper--border-right.mst-wrapper {
  border-right: 1px solid $grey-light;
}
.mst-wrapper--border-x.mst-wrapper {
  border-left: 1px solid $grey-light;
  border-right: 1px solid $grey-light;
}
.mst-wrapper--border-y.mst-wrapper {
  border-top: 1px solid $grey-light;
  border-bottom: 1px solid $grey-light;
}
.mst-wrapper--border-all.mst-wrapper {
  border: 1px solid $grey-light;
}

.mst-wrapper-border--grey.mst-wrapper {
  border-color: $grey-light;
}
.mst-wrapper-border--positive.mst-wrapper {
  border-color: $positive;
}
.mst-wrapper-border--accent.mst-wrapper {
  border-color: $accent;
}
.mst-wrapper-border--primary.mst-wrapper {
  border-color: $primary;
}
.mst-wrapper-border--error.mst-wrapper {
  border-color: $error;
}
